<p>First Name: <%= @student.first_name.capitalize %></p>
<p>Last Name: <%= @student.last_name.capitalize %></p>
<p>Age: <%= @student.age %></p>
<p>House: <%= @student.house.name.capitalize %></p>
<a href='<%=@student.id%>/edit'>Edit</a>
<a href='<%=@student.id%>/delete'>Delete</a>
